{% extends "account_base.html" %}

{% block title %}User Connections{% endblock %}
{% block content %}
      <div class="container">
<style>
  svg {
    max-width: 150px;
    max-height: 45px;
  }

  .svg-col {
    max-width: 200px;
  }
</style>
<div class="py-5 text-center">
  <h2>User Connections</h2>
  <p class="lead">View or change your saved data source connections.</p>
</div>
<div class="container">
  <table class="table  table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Connection Name</th>
        <th class="text-center svg-col" scope="col">Connection Type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% load svg %}
      {% for conn in connections %}
      <tr>
        <td>{{ conn.name }}</td>
        <td class="text-center svg-col">
          {% if conn.connectiontype.svg == "" %}
          {{ conn.connectiontype.description }}
          {% else %}
          {% with svgPath=conn.connectiontype.svg|cut:".svg" %}
          {% svg svgPath %}
          {% endwith %}
          {% endif %}
        </td>
        <td class="btn-column">
          <a class="btn btn-secondary" href="{% url 'connection-update' pk=conn.id %}" title="Edit" aria-current="page"
            data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-pencil"></i></a></td>
        <td class="btn-column">
          <a class="btn btn-danger" href="{% url 'connection-delete' pk=conn.id %}" title="Delete" aria-current="page"
            data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-trash3"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a class="btn btn-primary"  type="button" href="{% url 'connection-add' %}" title=""><i class="bi bi-plus"></i> Add
  Connection</a>
</div>
{% endblock %}