{% extends "account_base.html" %}
{% block title %}Connection{% endblock %}

{% block content %}
      <div class="container">
<div class="py-5 text-center">
  <h2>User Connections</h2>
  {% if form.id.value == "" %}
    <p class="lead">Add a new repository.</p>
  {% else %}
    <p class="lead">Change a repository.</p>
  {% endif %}
</div>
<form action="{% url 'repository-change' %}" method="POST">
  {% csrf_token %}
  <div class="row g-5">
    <div class="col-md-12 col-lg-12">
      <div class="row g-3">
        <input  id="id_id" name="id" value="{{form.id.value}}" hidden />
        <div class="col-6">
          <div class="form-floating">
            {{form.name}}
            {{form.name.label_tag}}
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            {{form.url}}
            {{form.url.label_tag}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-3 justify-content-end py-3">
    <div class="col-md-2 col-lg-2">
      <a class="w-100 btn btn-secondary" href="{% url 'repositories' %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
    </div>
    <div class="col-md-2 col-lg-2">
      <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
    </div>
  </div>  
</form>
    </div>
{% endblock %}