{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/css/prism.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.6/css/selectize.bootstrap5.min.css" rel="stylesheet" integrity="sha512-w4sRMMxzHUVAyYk5ozDG+OAyOJqWAA+9sySOBWxiltj63A8co6YMESLeucKwQ5Sv7G4wycDPOmlHxkOhPW7LRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %} | Config Creator</title>
    <!-- <link rel="icon" href="" type="image/x-icon"> -->
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.6/js/standalone/selectize.min.js" integrity="sha512-pgmLgtHvorzxpKra2mmibwH/RDAVMlOuqU98ZjnyZrOZxgAR8hwL8A02hQFWEK25V40/9yPYb/Zc+kyWMplgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div class="bg-dark position-relative bd-example-toasts" aria-live="polite" aria-atomic="true">
      <div class="toast-container position-absolute top-0 end-0 p-3 p-3 z-1" id="toastPlacement">
        {% if messages %}
          {% for message in messages %}
              <div class="toast alert-{{ message.tags }}">
                <div class="toast-header">
                  <strong class="me-auto">{{ message.tags }}</strong>
                  <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  {{ message }}
                </div>
              </div>
          {% endfor %}
        {% endif %}    
        
        {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
              <div class="toast alert-warning">
                <div class="toast-header">
                  <strong class="me-auto">{{ field.label_tag }}</strong>
                  <button class="btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  {{ error }}
                </div>
              </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      </div>
    </div>
    <main>
      <div class="nav-col">
        {% block nav %}
          {% include "nav.html" %}
        {% endblock %}
      </div>
      <div class="content-col">
        <div class="row">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
    
    <script>
      const toastList = document.getElementsByClassName("toast");
      for (var i = 0; i < toastList.length; i++) {
        const toast = new bootstrap.Toast(toastList[i]);
        toast.show();
      }
    </script>
    <script>
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
      })
    </script>
    <script src="/static/js/main.js" ></script>
    <script src="/static/js/connection-selector.js" ></script>
</body>
</html>