{% extends 'base.html' %}
      {% block content %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
      {% if messages %}
        {% for message in messages %}
        <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
          <div class="toast-container position-absolute top-0 end-0 p-3 p-3" id="toastPlacement">
            <div class="toast alert-{{ message.tags }}">
              <div class="toast-header">
                <strong class="me-auto">{{ message.tags }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                {{ message }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
          <div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
            <div class="toast-container position-absolute top-0 end-0 p-3 p-3" id="toastPlacement">
              <div class="toast alert-warning">
                <div class="toast-header">
                  <strong class="me-auto">{{ field.label_tag }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <main>
        {% include "nav.html" %}
        {% block core-content %}
        {% endblock %}
      </main>
      <script>
        
        const toastList = document.getElementsByClassName("toast");
        for (var i = 0; i < toastList.length; i++) {
          const toast = new bootstrap.Toast(toastList[i]);
          toast.show();
        }

      </script>
      
      <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })

      </script>
      {% endblock %}