{% extends "base.html" %}

{% block title %}Git Repositories{% endblock %}
        {% block content %}
        <div class="container">
          <div class="py-1 text-center">
            <h2>Git Repositories</h2>
            <p class="lead">View your saved repositories.</p>
          </div>
          <div class="container">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for repo in repositories %}
                  <tr>
                    <td>{{ repo.name }}</td>
                    <td class="btn-column"><a class="btn row-btn-secondary" href="{% url 'repository-pull' pk=repo.id %}" title="Pull from repository" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"><i class="fa-solid fa-code-pull-request"></i></a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#changeForm"><i class="fa-solid fa-code-pull-request"></i> Pull from new repository</button>
        </div>

        <div class="modal" id="changeForm" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add new repository</h5>
                <button  class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{% url 'repository-pull-new' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body modal-dialog-centered">
                  <div class="row g-3">
                    <div class="col-12">
                      <div class="form-floating">
                        <input class="form-control" id="id_name" name="name" type="text" maxlength="250" />
                        <label for="id_name">Repository Name</label>
                      </div>
                    </div>
            
                    <div class="col-12">
                      <div class="form-floating">
                        <input class="form-control" id="id_url" name="url" type="text" maxlength="250" />
                        <label for="id_url">Repository URL</label>
                      </div>
                    </div>
            
                  </div>
                </div> 
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Cancel</button>
                  <button class="btn btn-primary" type="submit" ><i class="fa-solid fa-code-pull-request"></i> Pull</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endblock %}