
  .selector-dialog {
    width: 80vw;
    height: 80vh;
    max-height: 80vh;
    max-width: none;
  }

  .selector-content {
    height: 80vh;
  }

  .selector-header {
    padding: none;
    margin: 1rem 1rem;
  }

  .modal-footer .btn {
    min-width: 100px;
  }

  #id_modal_content {
    height: inherit;
    overflow-y: scroll;
  }
  
  .tree-dataset, .tree-connection {
    max-height: 80vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    display: flex;
    margin-top: 1px;
  }

  .tree-dataset-summary, .tree-connection-summary {
    position: sticky;
    top: 0;
    background: #ffffff;
  }
  .tree-connection-summary {
    z-index: 1;
  }

  .tree-dataset::-webkit-scrollbar, .tree-connection::-webkit-scrollbar, .min-vh-80::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .tree-table-select, .tree-dataset-select {
    cursor: pointer;
  }

  .tree-table-selectd {
    border: 1px #000 solid;
  }

  .min-vh-80 {
    min-height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    display: flex;
  }
  
  .max-vh-60 {
    min-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  
  .max-vh-80 {
    min-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  .spinner-border {
    margin-left: 5px;
  }


  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
  }

  summary {
    cursor: pointer;
  }

  .btn {
    border-radius: 1.3rem !important;
  }

  .btn:active {
    box-shadow: none !important;
    transform: translateY(5px) !important;
  }

  .btn:focus {
    outline: none !important;
  }

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus {
    box-shadow: 0 5px 0 #0a51bc;
    background-color: #0d6efd !important;
  }

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    box-shadow: 0 5px 0 #5c636a;
    background-color: #6c757d !important;
  }

  .btn-outline-dark,
  .btn-outline-dark:hover,
  .btn-outline-dark:focus {
    box-shadow: 0 5px 0 #e5e6e7;
    background-color: #f8f9fa !important;
    color: #212529 !important;
  }

  .btn-danger,
  .btn-danger:focus,
  .btn-danger:hover {
    box-shadow: 0 5px 0 #bb2d3b;
    background-color: #dc3545 !important;
  }

  .btn-info,
  .btn-info:focus,
  .btn-info:hover {
    box-shadow: 0 5px 0 #098faa;
    background-color: #0dcaf0 !important;
  }

  .gradient-text {
    background: linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-sidebar {
    width: 4.5rem;
    position: fixed;
    height: 100vh;
  }

  .main-content {
    margin-left: 7rem;
    margin-right: 7rem;
    width: 100vw;
  }

  .accordion{
    margin-bottom: var(--bs-gutter-y);
  }

  .btn-column {
    max-width: 60px;
  }

  .tree-file {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    min-width: 20vw;
  }

  .tree-file:hover {
    border-bottom: 1px solid #212529;
  }
  .tree-file-active {
    border-radius: 1.3rem!important;
    border: 1px solid #033e17;
  }
  @media (min-width: 1400px) {
    .container {
      max-width: max(1320px, 80vw)!important
    }
  }
  .input-group-text:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
  }

  .delete-row {
    transform-origin: 100% 100%;
    transform: translate(-150%, 0%);
    transition: transform 1s, visibility 0s linear 500ms, opacity 500ms;
    visibility: collapse;
  }

  .z-1 {
    z-index: 1;
  }

  .nav-col {
    width: 4.5rem;
  }

  .content-col {
    width: calc(100vw - 4.5rem)!important;
  }

  .vertical-grip-col {
    max-width: max-content;
  }
  
  table {
  border-collapse: collapse;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  }

  table.draggable tbody tr {
    border-collapse: collapse;
    cursor: grab;
  }

  table.draggable tbody tr:active {
    cursor: grabbing;
  }