.tree-dataset,
.tree-connection, 
.tree-dir {
  max-height: 80vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  display: flex;
  margin-top: 1px;
}

.tree-dataset-summary,
.tree-connection-summary {
  position: sticky;
  top: 0;
  background: #fff;
}

.tree-connection-summary {
  z-index: 1;
}

.tree-dataset::-webkit-scrollbar,
.tree-connection::-webkit-scrollbar,
.min-vh-80::-webkit-scrollbar,
.tree-dir::-webkit-scrollbar {
  display: none;
}

.tree-table-select,
.tree-dataset-select {
  cursor: pointer;
}

.tree-table-selectd {
  border: 1px #000 solid;
}

.min-vh-80 {
  min-height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
}

.max-vh-60 {
  min-height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.max-vh-80 {
  min-height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.spinner-border {
  margin-left: 5px;
}

body {
  overflow: hidden;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

summary {
  cursor: pointer;
}

.function-container {
  height: 41vh;
  margin-top: 1.5rem;
  overflow-y: auto;
}

.code {
  font-size: .875em;
    color: #d63384;
    word-wrap: break-word;
    font-family: var(--bs-font-monospace);
    direction: ltr;
    unicode-bidi: bidi-override;
}

.btn {
  border-radius: 1.3rem !important;
}

.btn:active, .alt-btn:active {
  box-shadow: none !important;
  transform: translateY(5px) !important;
}

.btn:focus, .alt-btn:focus {
  outline: none !important;
}

.btn-group-vertical>.alt-btn, .btn-group>.alt-btn {
  position: relative;
  flex: 1 1 auto;
}


.btn-group>.btn-group:not(:last-child)>.alt-btn, .btn-group>.alt-btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn-group:not(:first-child)>.alt-btn, .btn-group>.alt-btn:nth-child(n+3), .btn-group>:not(.btn-check)+.alt-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.alt-btn:not(:first-child) {
  margin-left: -1px;
}

.alt-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.alt-btn.disabled, .alt-btn:disabled, fieldset:disabled .alt-btn {
  pointer-events: none;
  opacity: .65;
}

.btn-group-left {
  border-radius: 1.3rem 0rem 0rem 1.3rem!important;
}

.btn-group-right {
  border-radius: 0rem 1.3rem 1.3rem 0rem!important;
}

.btn-primary {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #3c4043;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus, 
.btn-primary:disabled {
    background-color: #f1f3f4;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    outline: none;
    color: #3c4043;
    border-color: #f1f3f4;
}

.btn-success {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #fff;
  background-color: #198754;
  background-image: none;
  border: 1px solid transparent;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:disabled {
    background-color: #157347;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    outline: none;
    color: #fff;
    border-color: #157347;
}


.btn-secondary {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #fff;
  background-color: #6c757d;
  background-image: none;
  border: 1px solid transparent;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:disabled {
    background-color: #5c636a;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    outline: none;
    color: #fff;
    border-color: #5c636a;
}

.btn-outline-dark {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #212529;
  background-color: #f8f9fa;
  background-image: none;
  border: 1px solid transparent;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:disabled {
    background-color: #e5e6e7;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    outline: none;
    color: #212529;
    border-color: #e5e6e7;
}

.btn-danger {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #fff;
  background-color: #dc3545;
  background-image: none;
  border: 1px solid transparent;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:disabled {
    background-color: #bb2d3b;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    outline: none;
    color: #fff;
    border-color: #bb2d3b;
}

.btn-info {
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  color: #212529;
  background-color: #0dcaf0;
  background-image: none;
  border: 1px solid transparent;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:disabled {
    background-color: #098faa;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    outline: none;
    color: #212529;
    border-color: #098faa;
}

.row-btn-primary,
.row-btn-primary:hover,
.row-btn-primary:focus,
.row-btn-primary:disabled {
  color: #0d6efd !important;
}

.row-btn-secondary,
.row-btn-secondary:hover,
.row-btn-secondary:focus,
.row-btn-secondary:disabled {
  color: #6c757d !important;
}

.row-btn-outline-dark,
.row-btn-outline-dark:hover,
.row-btn-outline-dark:focus,
.row-btn-outline-dark:disabled {
  color: #f8f9fa !important;
}

.row-btn-danger,
.row-btn-danger:focus,
.row-btn-danger:hover,
.row-btn-danger:disabled {
  color: #dc3545 !important;
}

.row-btn-info,
.row-btn-info:focus,
.row-btn-info:hover,
.row-btn-info:disabled {
  color: #0dcaf0 !important;
}

.hero-text {
  background: linear-gradient(-70deg, #ff9d00 0%, #ff0000 25%,#b5007c 50%, #21429c 75%, #0071ff 100%);
  background-clip: text;
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  animation: hero-bg-animation 10s infinite;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}


.hero-gradient {
  animation: hero-bg-animation 10s infinite;
  background: linear-gradient(-70deg, #ff9d00 0%, #ff0000 25%,#b5007c 50%, #21429c 75%, #0071ff 100%);
  background-size: 500%;
}

@keyframes hero-bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.nav-sidebar {
  width: 4.5rem;
  position: fixed;
  height: 100vh;
}

.main-content {
  margin-left: 7rem;
  margin-right: 7rem;
  width: 100vw;
}

.accordion {
  margin-bottom: var(--bs-gutter-y);
}

.btn-column {
  width: 60px;
}

.date-column {
  width: 200px;
}

.tree-file, .tree-file-json {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  min-width: 20vw;
  width: 100%
}

.tree-file {
  cursor: not-allowed;
  color: #8e0707;
}

.tree-file-json {
  cursor: pointer;
}

.tree-file:hover {
  border-bottom: 1px solid #212529;
}

.tree-file-active {
  border-radius: 1.3rem !important;
  border: 1px solid #033e17;
}

@media (min-width: 1400px) {
  .container {
    max-width: max(1320px, 80vw) !important;
  }
}

.col-half {
  width: 45%;
}

@media (min-width: 1400px) {
  .col-half {
    width: 100%;
  }
}

.input-group-text:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.delete-row {
  transform-origin: 100% 100%;
  transform: translate(-150%, 0%);
  transition: transform 1s, visibility 0s linear 500ms, opacity 500ms;
  visibility: collapse;
}

.z-1 {
  z-index: 1;
}

.nav-col {
  width: 4.5rem;
}

.content-col {
  width: calc(100vw - 4.5rem) !important;
}

.vertical-grip-col {
  width: 32px;
  max-width: fit-content;
  padding: 0.1rem 0.1rem!important;
}

table {
  border-collapse: collapse;
}

table.draggable tbody tr {
  border-collapse: collapse;
  cursor: grab;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table.draggable tbody tr:active {
  cursor: grabbing;
}

.selector-dialog {
  width: 80vw;
  height: 80vh;
  max-height: 80vh;
  max-width: none;
}

.condition-dialog {
  width: 90vw;
  height: 80vh;
  max-height: 80vh;
  max-width: none;
}

.selector-content {
  height: 80vh;
}

.selector-header {
  padding: none;
  margin: 1rem;
}

.modal-footer .btn {
  min-width: 100px;
}

.modal-content-spinner-container, .large-spinner-parent{
  position: relative;
  height: 100%;
}

#id-modal-content, #id_git_file_select_modal_content {
  height: inherit;
  overflow-y: scroll;
}

.spinner-large {
  width: 10rem;
  height: 10rem;
}

.spinner-large-container {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  border-radius: 0.25rem;
  backdrop-filter: blur(5px);
  justify-content: center;
  display: flex;
  align-items: center;
}


.editing, .highlighting {
  margin: 0.5rem 0;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
}

.editing, .highlighting, .highlighting * {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  font-size: 1em;
  tab-size: 2;
}

.editing, .highlighting {
  position: absolute;
  top: 0;
  left: 0;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  overflow: auto;
  white-space: nowrap;
  border-radius: 0.25rem!important;
}

.highlighting {
  z-index: 0;
}    

.editing {
  color: transparent;
  background: transparent;
  caret-color: #212529; 
  resize: none;
  z-index: 1;
  padding: 1em;
}

.editing-label {
  position: absolute;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  z-index: 1;
  opacity: .65;
  transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
}

.editing-field, .highlighting-field {
  width: calc(50% - calc(var(--bs-gutter-x) * 2.5))!important;
  top: 150px!important;
  height: calc(3.5rem + 2px)!important;
  padding-top: 1.625rem!important;
  padding-right: 0.75rem!important;
  padding-left: 0.75rem!important;
  padding-bottom: 0.625rem!important;
  line-height: 1.5!important;
  display: block!important;
  margin-left: var(--bs-gutter-x)!important;
}