{% extends 'core_base.html' %}
{% block title %}Change Condition{% endblock %}
{% block core-content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>{% if join_id != None %}Join {% else %}Where {% endif %}Condition</h2>
    <p class="lead">Add or change your condition.</p>
  </div>
  <form id="id_form" method="post" {% if join_id != None %} action="{% url 'job-task-join-condition-add' job_id=job.id task_id=task.id join_id=join_id %}" {% else %}  action="{% url 'job-task-where-condition-add' job_id=job.id task_id=task.id %}" {% endif %}>
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-12 col-lg-12">
        <input hidden value="{{ form.id.value }}" name="id" id="id_id">
        <div class="row g-3">
          <div class="lead">Condition Details</div>
          <div class="col-sm-1">
            <div class="form-floating">
              {{form.logic_operator}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <button class="input-group-text" type="button" id="id_destination_dataset_tree" onclick="setReturnType('column', 'id_left', 'columnFull', null, null, null, false)"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" name="left" maxlength="255" required="" id="id_left" aria-required="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="Enter a column name (<dataset name>.<table name>.<column name>), value or sql function" 
                  {% if fields|length > 0 %} value="{{ fields.0.left }}" {% endif %}>
                <label for="id_left">Value 1:</label>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating">
              {{form.operator}}
              {{form.operator.label_tag}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <button class="input-group-text" type="button" id="id_destination_dataset_tree" onclick="setReturnType('column', 'id_right', 'columnFull', null, null, null, false)"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" name="right" maxlength="255" required="" id="id_right" aria-required="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="Enter a column name (<dataset name>.<table name>.<column name>), value or sql function" {% if fields|length > 0 %} value="{{ fields.0.right }}" {% endif %}>
                <label for="id_right">Value 2:</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="row g-5">
      <div class="col-md-4 col-lg-3 py-5">
          <button class="btn w-100 btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
      </div>
      <div class="col-md-4 col-lg-3 py-5">
          <a href="{% url 'job-task' job_id=job.id pk=task.id %}" class="w-100 btn  btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>
      </div>
    </div>
  </form>
  <script>
    document.getElementById("{{form.operator.id_for_label}}").classList.add("form-select");
    document.getElementById("{{form.logic_operator.id_for_label}}").classList.add("form-select");
  </script>
  {% include 'core/connection_selector.html' %}
</div>
{% endblock %}
