{% extends 'base.html' %}
{% block title %}Change Condition{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>{% if join_id != None %}Join {% else %}Where {% endif %}Condition</h2>
    <p class="lead">Add or change your condition.</p>
  </div>
  <form id="id_form" method="post" 
    {% if condition_id != None %} 
      {% if join_id != None %} 
        action="{% url 'job-task-join-condition-update' job_id=job.id task_id=task.id join_id=join_id pk=condition_id %}" 
      {% else %}  
        action="{% url 'job-task-where-condition-update' job_id=job.id task_id=task.id pk=condition_id %}"
      {% endif %}
    {% else %}
      {% if join_id != None %} 
        action="{% url 'job-task-join-condition-add' job_id=job.id task_id=task.id join_id=join_id %}" 
      {% else %}
        action="{% url 'job-task-where-condition-add' job_id=job.id task_id=task.id %}"
      {% endif %}
    {% endif %}
    >
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-12 col-lg-12">
        {% if condition_id != None %}
        <input id="id_id" name="id" value="{{ condition_id }}" hidden />
        {% else %}
        <input id="id_empty_id" name="id" hidden />
        {% endif %}
        <div class="row g-3">
          <div class="lead">Condition Details</div>
          <div class="col-sm-1">
            <div class="form-floating">
              {{form.logic_operator}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <button class="input-group-text" id="id_value_1_tree" type="button" ><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                {% if condition_id != None %} 
                  <input class="form-control" id="id_left_field" name="left_field" type="text" value="{{ condition.left }}" maxlength="255" required="" aria-required="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="Enter a column name (<dataset name>.<table name>.<column name>), value or sql function" />
                {% else %}
                  <input class="form-control" id="id_empty_left_field" name="left_field" type="text" maxlength="255" required="" aria-required="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="Enter a column name (<dataset name>.<table name>.<column name>), value or sql function" />
                {% endif %} 
                <label for="id_left_field">Value 1:</label>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-floating">
              {{form.operator}}
              {{form.operator.label_tag}}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <button class="input-group-text" id="id_value_2_tree" type="button" ><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                {% if condition_id != None %} 
                  <input class="form-control" id="id_right_field" name="right_field" type="text" value="{{ condition.right }}" maxlength="255" required="" aria-required="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="Enter a column name (<dataset name>.<table name>.<column name>), value or sql function" />
                {% else %}
                  <input class="form-control" id="id_empty_right_field" name="right_field" type="text" maxlength="255" required="" aria-required="true" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="Enter a column name (<dataset name>.<table name>.<column name>), value or sql function" />
                {% endif %} 
                <label for="id_right_field">Value 2:</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    
    <div class="row g-5">
      <div class="col-md-4 col-lg-3 py-5">
          <button class="btn w-100 btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
      </div>
      <div class="col-md-4 col-lg-3 py-5">
          <a class="w-100 btn btn-secondary" href="{% url 'job-task' job_id=job.id pk=task.id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
      </div>
    </div>
  </form>
  <script src="/static/js/lazy-listener.js"></script>
  <script>
    
    let conditionListenerMap = new Map()
    
    {% if form.left.value != None %}
      conditionListenerMap.set("id_value_1_tree", {
            "function": "setReturnType('column', 'id_left_field', 'columnFull', null, null, null, null, null, false)",
            "type": "click"
          })
    {% else %}
      conditionListenerMap.set("id_value_1_tree", {
            "function": "setReturnType('column', 'id_empty_left_field', 'columnFull', null, null, null, null, null, false)",
            "type": "click"
          })
    {% endif %}

    {% if form.right.value != None %}
      conditionListenerMap.set("id_value_2_tree", {
            "function": "setReturnType('column', 'id_right_field', 'columnFull', null, null, null, null, null, false)",
            "type": "clikc"
          })
    {% else %}
      conditionListenerMap.set("id_value_2_tree", {
            "function": "setReturnType('column', 'id_empty_right_field', 'columnFull', null, null, null, null, null, false)",
            "type": "click"
          })
    {% endif %}
      
      conditionListenerMap.forEach(addListener)
  </script>
  {% include 'core/connection_selector.html' %}
</div>
{% endblock %}
