{% extends "base.html" %}
{% block title %}Delete{% endblock %}

{% block content %}    
<div class="container">
  <div class="row g-5">
    <div class="col-md-12 col-lg-12">
      <div class="row g-3">
        {% block form-action %}
        <form action="{{delete_url}}" method="post">
        {% endblock %}
          {% csrf_token %}
          <div class="py-5 text-center">
            <h2>Are you sure?</h2>
            <p class="lead">Are you sure you want to delete the {% block object %}{{object}}{% endblock %}?</p>
          </div>
          <input name="action" type="hidden" value="cancel" />

          <div class="container">
            <div class="row g-3">
              <div class="col-md-4 col-lg-3 py-5">
                <button class="w-100 btn btn-danger" type="submit">Yes, I'm sure</button>
              </div>
              <div class="col-md-4 col-lg-3 py-5">
                {% block return-url %}
                <a class="w-100 btn btn-secondary" href="{{return_url}}" title="">No, take me back</a>
                {% endblock %}
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}