<div class="modal" id="connection-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered selector-dialog">
    <div class="modal-content selector-content">
      <div class="modal-header selector-header">
        <h5 class="modal-title">Select from connection</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="container row g-3 py-3" id="id_modal_content">

      </div>
      <div class="modal-footer">
        <div class="lead" id="id_selection"></div>
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary visually-hidden" id="id_submit_button" type="button" >Save changes</button>
      </div>
    </div>
  </div>
</div>
<style>
  .selector-dialog {
    width: 80vw;
    height: 80vh;
    max-height: 80vh;
    max-width: none;
  }

  .selector-content {
    height: 80vh;
  }

  .selector-header {
    padding: none;
    margin: 1rem 1rem;
  }

  #id_modal_content {
    height: inherit;
    overflow-y: scroll;
  }
  
  .tree-dataset, .tree-connection {
    max-height: 80vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    display: flex;
    margin-top: 1px;
  }

  .tree-dataset-summary, .tree-connection-summary {
    position: sticky;
    top: 0;
    background: #ffffff;
  }
  .tree-connection-summary {
    z-index: 1;
  }

  .tree-dataset::-webkit-scrollbar, .tree-connection::-webkit-scrollbar, .min-vh-80::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .tree-table-select, .tree-dataset-select {
    cursor: pointer;
  }

  .tree-table-selectd {
    border: 1px #000 solid;
  }

  .min-vh-80 {
    min-height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    display: flex;
  }
  
  .max-vh-60 {
    min-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }
  
  .max-vh-80 {
    min-height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  .spinner-border {
    margin-left: 5px;
  }

</style>