<div class="modal" id="connection-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered selector-dialog">
    <div class="modal-content selector-content">
      <div class="modal-header selector-header">
        <h5 class="modal-title">Select from connection</h5>
        <!-- <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="container row g-3 py-3" id="id-modal-content">

      </div>
      <div class="modal-footer">
        <div class="lead" id="id_selection"></div>
        <button class="btn btn-secondary" id="id_connection_modal_close_button" type="button">Close</button>
        <button class="btn btn-success visually-hidden" id="id_submit_button" type="button" >Save changes</button>
      </div>
    </div>
  </div>
</div>