{% extends 'base.html' %}
{% block title %}Change Delta Condition{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-1 text-center">
    <h2>Delta Condition</h2>
    <p class="lead">Add or change your Delta condition.</p>
  </div>
  <form id="id_form" method="post" action="{% url 'job-task-delta-add' job_id=job.id task_id=task.id %}">
    {% if delta_id != None %}
      <input id="id_id" name="id" value="{{ delta_id }}" hidden />
    {% else %}
      <input id="id_empty_id" name="id" hidden />
    {% endif %}
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-8 col-lg-9">
        <div class="row g-3">
          <div class="lead">Condition Details</div>
          <div class="col-6">
              <div class="form-floating">
                {{form.lower_bound}}
                {{form.lower_bound.label_tag}}
              </div>
          </div>
          <div class="col-6">
              <div class="form-floating">
                <input class="form-control" id="{{ form.upper_bound.id_for_label }}" name="upper_bound" type="number" step="86400" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{ form.upper_bound.help_text }}" />
                {{ form.upper_bound.label_tag }}
              </div>
          </div>
          <div class="lead">Select field to apply condition</div>
          <div class="col-6">
            <div class="form-floating">
              {{ form.field }}
              {{ form.field.label_tag }}
            </div>
          </div>
        </div>
        <div class="row g-3 py-3">
          <div class="lead">Or create new column for condition</div>
          <div class="row g-3">
            <div class="col-6">
              <div class="input-group mb-3">
                <button class="input-group-text" id="id_source_column_tree" type="button" data-bs-toggle="modal" data-bs-target="#connection-modal"><i class="fa-solid fa-folder-tree"></i></button>
                <div class="form-floating flex-grow-1">
                  <input class="form-control" id="id_field_source_column" name="source_column" type="text" maxlength="255" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="" />
                  <label for="id_field_source_column">Source Column:</label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-group mb-3">
                <button class="input-group-text" id="id_source_name_tree" type="button" data-bs-toggle="modal" data-bs-target="#connection-modal"><i class="fa-solid fa-folder-tree"></i></button>
                <div class="form-floating flex-grow-1">
                  <input class="form-control" id="id_field_source_name" name="source_name" type="text"  maxlength="255" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="" />
                  <label for="id_field_source_name">Source Table:</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="lead">Transformation</div>
            <div class="col-sm-12">
              <div class="form-floating">
                <textarea class="form-control" id="id_field_transformation" name="transformation" maxlength="255" ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          <a class="w-100 btn btn-secondary" href="{% url 'job-task' job_id=job.id pk=task.id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
        </div>
      </div>
    </div>  
  </form>
</div>
{% include 'core/connection_selector.html' %}
{% endblock %}
