{% extends 'base.html' %}
{% block title %}Add Dependency{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Predecessorn</h2>
    <p class="lead">Add a predecessor to {{ task.name }}.</p>
  </div>
  <form id="id_form" method="post" action="{% url 'job-task-delta-add' job_id=job.id task_id=task.id %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-8 col-lg-9">
        <div class="row g-3">
          <div class="lead">Select Predecessor Task</div>
          <div class="col-6">
            <div class="form-floating">
              <select class="form-select" id="{{ form.predecessor.id_for_label }}" name="field">
                <option selected>---------</option>
                {% for task in tasks %}
                  <option value="{{ task.id }}">{{ task.name }}</option>
                {% endfor %}
              </select>
              {{ form.predecessor.label_tag }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          <a class="w-100 btn btn-secondary" href="{% url 'job-task' job_id=job.id pk=task.id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
        </div>
      </div>
    </div>  
  </form>
</div>
{% endblock %}
