{% extends 'core_base.html' %}
{% block title %}Column{% endblock %}
{% block core-content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Column</h2>
    <p class="lead">View or change your column.</p>
    <div class="container py-5">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <form id="id_form" method="post" action="{% url 'job-task-field-add' job_id=job.id task_id=task.id %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-8 col-lg-9">
        <input hidden value="{{ field.id }}" name="id" id="id_id">
        <input hidden value="return" name="action" id="id_action">
        <div class="row g-3">
          <div class="lead">Target Column</div>
          <div class="col-6">
            <div class="form-floating">
              <input type="text" class="form-control" name="name" maxlength="255" required="" id="id_name" value="{{ field.name }}" disabled>
              <label for="id_name">Name:</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-check">
              <input type="checkbox" class="form-checkbox" name="is_primary_key" maxlength="255" required="" id="id_is_primary_key" {% if field.is_primary_key %} checked {% endif %} disabled>
              <label for="id_is_primary_key">Primary key Field</label>
            </div>
          </div>
        </div>
        <div class="row g-3 py-1">
          <div class="lead">Source Column</div>
          <div class="col-6">
            <div class="input-group mb-3">
              <button class="input-group-text" type="button" id="id_source_column_tree"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" name="source_column" maxlength="255" id="{{ field.source_column.id_for_label }}" 
                {% if field.source_column.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{ field.source_column.help_text }}" {% endif %}
                value="{{ field.source_column }}" disabled>
                <label for="id_staging_dataset">Source Column:</label>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <button class="input-group-text" type="button" id="id_source_name_tree"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" name="source_name" maxlength="255" id="{{ field.source_name.id_for_label }}" 
                {% if field.source_name.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{ field.source_name.help_text }}" {% endif %}
                value="{{ field.source_name }}" disabled>
                <label for="id_staging_dataset">Source Table:</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-3 py-1">
          <div class="lead">Transformation</div>
          <div class="col-sm-12">
            <div class="form-floating">
              <textarea  class="form-control" name="transformation" maxlength="255" id="{{ field.transformation.id_for_label }}" value="{{ field.transformation }}" disabled></textarea>
              <label for="id_staging_dataset">Transformation:</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <a href="{% url 'job-task-field-update' job_id=job.id task_id=task.id pk=field.id %}" class="w-100 btn  btn-primary" type="submit"><i class="bi bi-pencil"></i> Edit</a>
        </div>
        <div class="row g-3 py-3">
          <a href="{% url 'job-task' job_id=job.id pk=task.id %}" class="w-100 btn  btn-secondary"><i class="bi bi-arrow-left"></i> Back to Task</a>
        </div>
      </div>
    </div>  
    
  </form>
  <script>
    const labels = document.getElementsByTagName("label");
    for (var i = 0; i < labels.lebth; i++) {
      if (labels[i].htmlFor != '') {
        labels[i].classList.add("input-check-label");
      }
    }

    function saveAnother() {
      document.getElementById("id_action") = "";
      document.getElementById("id_form").submit();
    }
  </script>
</div>
{% endblock %}
