
  
  <div class="modal" id="id_field_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered selector-dialog">
      <div class="modal-content">
        <div class="modal-header selector-header">
          <h5 class="modal-title" id="id_field_modal_title"></h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container row g-3 py-3" id="id_field_modal_content">
          <form id="id_field_form">
            <input id="id_id" name="id" hidden />
            <input id="id_field_modal_action" name="action" hidden />
            <div class="row g-5">
              <div class="col-12">
                <div class="row g-3">
                  <div class="lead">Target Column</div>
                  <div class="col-6">
                    <div class="form-floating">
                      {{ field_form.name }}
                      {{ field_form.name.label_tag }}
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-check">
                      {{ field_form.is_primary_key }}
                      {{ field_form.is_primary_key.label_tag }}
                    </div>
                    <div class="form-check">
                      {{ field_form.is_nullable }}
                      {{ field_form.is_nullable.label_tag }}
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating">
                      {{ field_form.data_type }}
                      {{ field_form.data_type.label_tag }}
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating">
                      {{ field_form.position }}
                      {{ field_form.position.label_tag }}
                    </div>
                  </div>
                </div>
                <div class="row g-3 py-1">
                  <div class="lead">Source Column</div>
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <button class="input-group-text" id="id_source_column_tree" type="button"><i class="fa-solid fa-folder-tree"></i></button>
                      <div class="form-floating flex-grow-1">
                        {{ field_form.source_column }}
                        {{ field_form.source_column.label_tag }}
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-group mb-3">
                      <button class="input-group-text" id="id_source_name_tree" type="button"><i class="fa-solid fa-folder-tree"></i></button>
                      <div class="form-floating flex-grow-1">
                        <input id="id_source_name" name="source_name" type="text" maxlength="255" />
                        <label for="id_source_name" >Source Table:</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-floating">
                      {{ field_form.source_data_type }}
                      {{ field_form.source_data_type.label_tag }}
                    </div>
                  </div>
                </div>
                <div class="row g-3 py-1">
                  <div class="lead">Transformation <button class="btn btn-primary text-primary" id="id_field_transformation_load" type="button"><i class="fa-solid fa-flask"></i></button></div>
                  <div class="col-sm-12">
                    <div class="form-floating">
                      <div class="form-floating" style="height: 20vh">
                        <textarea class="editing" id="id_field_transformation" name="transformation" spellcheck="false" oninput="update(this.value, this.dataset['targetId']); syncScroll(this, this.dataset['targetId']);" onscroll="syncScroll(this, this.dataset['targetId']);" onkeydown="checkTab(this, event, this.dataset['targetId']);" data-target-id="id_field_transformation_highlighting"></textarea>
                        <pre class="highlighting" id="id_field_transformation_highlighting" aria-hidden="true">
                          <code class="language-sql" id="id_field_transformation_highlighting-content"></code>
                        </pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> Close</button>
          <button class="btn btn-info" id="id_field_modal_edit_button" type="button" title=""><i class="bi bi-pencil"></i> Edit</button>
          <button class="btn btn-success" id="id_field_modal_submit_button" type="button"><i class="bi bi-check-lg"></i> Submit</button>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'core/transformation_form_modal.html' %}
    <script src="/static/js/lazy-listener.js"></script>
    <script src="/static/js/field-transformation-helper.js"></script>
    <script>
      
      let fieldModalListenerMap = new Map([
        ["id_data_type", {
          "function": "dataComparison()",
          "type": "change"
        }],
        ["id_source_data_type", {
          "function": "dataComparison()",
          "type": "input"
        }],
        ["id_source_name", {
          "function": "dataComparison()",
          "type": "input"
        }],
        ["id_source_column", {
          "function": "dataComparison()",
          "type": "input"
        }],
        ["id_field_modal_edit_button", {
          "function": "prepareFieldModal(this.dataset.usage)",
          "type": "click"
        }],
        ["id_field_modal_submit_button", {
          "function": "sendField(this.dataset['target'], this.dataset['deleteElementId'], this.dataset['fieldId'], this.dataset['jobId'], this.dataset['taskId'])",
          "type": "click"
        }],
        ["id_is_primary_key", {
          "function": "this.value = (this.checked) ? 'true' : 'false'",
          "type": "click"
        }],
        ["id_is_nullable", {
          "function": "this.value = (this.checked) ? 'true' : 'false'",
          "type": "click"
        }],
        ["{{ field_form.source_data_type.id_for_label }}", {
          "function": "dataTypeMap(this.value)",
          "type": "input"
        }],
        ["id_source_name_tree", {
            "function": "setReturnType('column', 'id_source_column', 'columnName', 'id_source_data_type', 'id_source_name', 'tableFull', null, null, true, {{task.id}}, 'id_field_modal')",
            "type": "click"
        }],
        ["id_source_column_tree", {
            "function": "setReturnType('column', 'id_source_column', 'columnName', 'id_source_data_type', 'id_source_name', 'tableFull', null, null, true, {{task.id}}, 'id_field_modal')",
            "type": "click"
        }],
        ["id_field_transformation_load", {
            "function": "prepareFieldTransformationModal()",
            "type": "click"
        }],
        ["id_field_transformation_modal_close", {
            "function": "closeFieldTransformationModal()",
            "type": "click"
        }],
        ["id_function_type", {
            "function": "switchFunctionType(this.options[this.selectedIndex].text)",
            "type": "click"
        }],
        ["id_function", {
            "function": "displayFunction(this.options[this.selectedIndex].text)",
            "type": "click"
        }],
        ["id_field_transformation_modal_submit", {
            "function": "saveTransformation()",
            "type": "click"
        }],
        ["id_function_description", {
            "function": "functionDescriptionReSize()",
            "type": "input"
        }]
      ]);
      
      fieldModalListenerMap.forEach(addListener);

    </script>
