{% extends 'core_base.html' %}
{% block title %}Change Job{% endblock %}
{% block core-content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Job</h2>
    <p class="lead">View or change your job detail.</p>
  </div>
  <form method="post" action="{% url 'job-add' %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-8 col-lg-9">
        <div class="row g-3">
          <input hidden {% if job_id != None %} value="{{ job_id }}" {% endif %} name="id" id="id_id">

          <div class="col-6">
            <div class="form-floating">
              <input type="text" class="form-control" name="name" maxlength="255" required="" id="{{form.name.id_for_label}}" 
              {% if form.name.value != None %} value="{{form.name.value}}" {% endif %}>
              {{form.name.label_tag}}
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-floating">
              {{form.type}}
              {{form.type.label_tag}}
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-floating">
              <input type="text" class="form-control" name="description" maxlength="255" required="" id="{{form.description.id_for_label}}" 
              {% if form.description.value != None %} value="{{form.description.value}}" {% endif %}>
              {{form.description.label_tag}}
            </div>
          </div>
          
          <div class="col-sm-12">
            <div class="form-floating">
              {{form.properties}}
              {{form.properties.label_tag}}
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          <a {% if job.id != None %}  href="{% url 'job-tasks' job_id=job.id %}" {% else %} href="{% url 'jobs' %}" {% endif %} class="w-100 btn btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>
        </div>
      </div>
    </div>  
    
  </form>
  <script>
    document.getElementById("{{form.type.id_for_label}}").classList.add("form-select");
    document.getElementById("{{form.properties.id_for_label}}").classList.add("form-control");
  </script>
<script>
  let ta = document.getElementById("{{form.properties.id_for_label}}");
  let numberOfLineBreaks = (ta.value.match(/\n/g) || []).length;
  let newHeight = 50 + numberOfLineBreaks * 20 + 12 + 2;
  ta.style.height = newHeight + "px";
</script>
</div>
{% endblock %}
