{% extends 'base.html' %}
{% block title %}Change Job{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Job</h2>
    <p class="lead">View or change your job detail.</p>
  </div>
  <form method="post" action="{% url 'job-add' %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-8 col-lg-9">
        <div class="row g-3">
          {% if job_id != None %}
            <input id="id_id" name="id" value="{{ job_id }}" hidden />
          {% else %}
            <input id="id_empty_id" name="id" hidden />
          {% endif %}

          <div class="col-6">
            <div class="form-floating">
              {{form.name}}
              {{form.name.label_tag}}
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-floating">
              {{form.type}}
              {{form.type.label_tag}}
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-floating">
              {{form.description}}
              {{form.description.label_tag}}
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          {% if job.id != None %}
            <a class="w-100 btn btn-secondary" href="{% url 'job-tasks' job_id=job.id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
          {% else %}
            <a class="w-100 btn btn-secondary" href="{% url 'jobs' %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
          {% endif %}
        </div>
      </div>
    </div>  
  </form>
  <script>
    let ta = document.getElementById("{{form.properties.id_for_label}}");
    let numberOfLineBreaks = (ta.value.match(/\n/g) || []).length;
    let newHeight = 50 + numberOfLineBreaks * 20 + 12 + 2;
    ta.style.height = newHeight + "px";
  </script>
</div>
{% endblock %}
