{% extends 'base.html' %}
{% block title %}Job Tasks{% endblock %}
{% block content %}
<div class="container">
  <div class="py-1 text-center">
    <h2>Jobs</h2>
    <p class="lead">View or change your in progress jobs.</p>
  </div>
  <div class="row">
    <div class="col-md-11 col-lg-11">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}" title="Home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Jobs</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row g-5">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Last Update</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr id="id_job_{{job.id}}_row">
            <td>{{ job.name }}</td>
            <td>{{ job.type }}</td>
            <td>{{ job.description }}</td>
            <td>{{ job.lastupdate }}</td>
            <td class="btn-column"><a class="btn btn-secondary" href="{% url 'job-tasks' job_id=job.id %}" title="View" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-search"></i></a></td>
            <td class="btn-column"><a class="btn btn-info job-download" id="id_{{ job.id }}_download" href="{% url 'job-download' pk=job.id %}" title="Download" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-box-arrow-down"></i></a></td>
            <td class="btn-column"><button class="btn btn-danger job-delete" id="id_job_delete_{{ job.id }}"
              type="button" title="Delete" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"
              data-delete-url="{% url 'api-job-delete' pk=job.id %}"
              data-delete-element-id="id_job_{{job.id}}_row"><i class="bi bi-trash3"></i></button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
  <div class="col-md-2 col-lg-2">
    <a class="w-100 btn btn-primary" type="button" href="{% url 'job-add' %}" title=""><i class="bi bi-plus"></i> Add Job</a> 
  </div>
</div>
<script src="/static/js/lazy-listener.js"></script>
<script>
  let listenerMap = new Map()

  let downloadButtonList = document.getElementsByClassName("job-download");
  for (let i = 0; i < downloadButtonList.length; i++) {
    listenerMap.set(downloadButtonList[i].id, {
          "function": "event.appendChild(createSpinner(this.id))",
          "type": "click"
        })
  }
  
  let deleteButtonList = document.getElementsByClassName("job-delete");
  for (let i = 0; i < deleteButtonList.length; i++) {
    listenerMap.set(deleteButtonList[i].id, {
      "function": "deleteModelObject(this.dataset['deleteUrl'], this.dataset['deleteElementId']);",
      "type": "click"
    })
  }

  listenerMap.forEach(addListener);
</script>
{% endblock %}
