{% extends 'core_base.html' %}
{% block title %}Job Tasks{% endblock %}
{% block core-content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Jobs</h2>
    <p class="lead">View or change your in progress jobs.</p>
  </div>
  <div class="row g-5">
    <table class="table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Last Update</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td>{{ job.name }}</td>
            <td>{{ job.type }}</td>
            <td>{{ job.description }}</td>
            <td>{{ job.lastupdate }}</td>
            <td class="btn-column"><a href="{% url 'job-tasks' job_id=job.id %}" class="btn btn-secondary" aria-current="page" title="View" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-search"></i></a></td>
            <td class="btn-column"><a href="{% url 'job-download' pk=job.id %}" class="btn btn-info" aria-current="page" title="Download" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-box-arrow-down"></i></a></td>
            <td class="btn-column"><a href="{% url 'job-delete' pk=job.id %}" class="btn btn-danger" aria-current="page" title="Delete" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi bi-trash3"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
  <div class="col-md-4 col-lg-3">
    <a href="{% url 'job-add' %}" class="btn btn-primary " type="button"><i class="bi bi-plus"></i> Add Job</a> 
  </div>
</div>
{% endblock %}
