<div class="accordion-item">
  <div class="accordion-header" id="heading-joins">
    <button class="lead accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-joins" aria-expanded="false" aria-controls="collapse-joins">
      Joins
    </button>
  </div>
  <div class="accordion-collapse collapse" id="collapse-joins" aria-labelledby="heading-joins">
    <div class="row g-3 py-3">
      <div class="row g-3 py-1" id="id_join_container_parent">
        {% if joins|length > 0 %}
        {% for join in joins %}
        <div class="container py-3 px-3 bg-light rounded" id="id_join_container_{{ join.join.id }}">
          <div class="row g-3 py-1">
            <div class="col-md-12 col-lg-12">
              <h5>{{ join.join.type}} {{  join.join.left_table }} to {{ join.join.right_table }}</h5>
            </div>
          </div>
          <div class="row g-3 py-1">
            <div class="col-lg-1 col-md-1">
              <p class="lead">on</p>
            </div>
            <div class="col-lg-11 col-md-11">
              <table class="table table-hover">
                <thead>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </thead>
                <tbody class="text-center align-middle" id="id_join_table_body_{{ join.join.id }}">
                  {% for condition in join.conditions %}
                      <tr id="id_join_condition_{{ condition.condition.id }}_row">
                        <td>{{ condition.condition.logic_operator }}</td>
                        <td>
                          {% if condition.condition.left.source_column != None%}
                            {{ condition.condition.left.source_table.alias }}.{{ condition.condition.left.source_column }}
                          {% else %}
                            {{ condition.condition.left.transformation }}
                          {% endif %}
                        </td>
                        <td>{{ condition.condition.operator }}</td>
                        <td>
                          {% if condition.condition.right.source_column != None%}
                            {{ condition.condition.right.source_table.alias }}.{{ condition.condition.right.source_column }}
                          {% else %}
                            {{ condition.condition.right.transformation }}
                          {% endif %}
                        </td>
                        <td class="btn-column"><button class="btn row-btn-danger condition-delete" id="id_join_condition_delete_{{ condition.condition.id }}"
                          type="button" title="Delete" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"
                          data-delete-url="{% url 'api-condition-delete' pk=condition.condition.id %}"
                          data-delete-element-id="id_join_condition_{{ condition.condition.id }}_row"><i class="bi bi-trash3"></i></button></td>
                      </tr>
                  {% endfor %}
                  {% if join.conditions|length == 0 %}
                    <tr class="placeholder-row"><td class="text-center" colspan="6">No conditions linked to join!</td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div class="row g-3 py-1">
              <div class="col-md-2 col-lg-2">
                <div class="w-100 btn-group" role="group">
                  <button class="btn btn-group-left btn-primary add-condition" id="id_add_condition_{{ join.join.id }}" type="button" data-job-id="{{ job.id }}" data-task-id="{{ task.id }}" data-join-id="{{ join.join.id }}" data-target-id="id_join_table_body_{{ join.join.id }}"><i class="bi bi-plus"></i> Add Condition</button>
                
                  <div class="btn-group" role="group">
                    <button class="btn btn-group-dropdown btn-group-right btn-primary dropdown-toggle" id="id_join_button_group_{{ join.join.id }}" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="id_join_button_group_{{ join.join.id }}">
                          <li>
                            <button class="dropdown-item join-delete" id="id_delete_join_{{ join.join.id }}" type="button" data-job-id="{{ job.id }}" data-task-id="{{ task.id }}" data-join-id="{{ join.join.id }}">Delete Join</button>
                          </li>
                        </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-2 col-lg-2">
        <button class="w-100 btn btn-primary" id="id_add_join" type="button" data-job-id="{{ job.id }}" data-task-id="{{ task.id }}"><i class="bi bi-plus"></i> Add Join</button> 
      </div>
    </div>
  </div>
</div>
<script>
  let joinListenerMap = new Map()
  const joinDeleteButtonList = document.getElementsByClassName("join-delete");
  for (var i = 0; i < joinDeleteButtonList.length; i++) {
    joinListenerMap.set(joinDeleteButtonList[i].id, {
      'function': 'deleteJoin(this.dataset["jobId"], this.dataset["taskId"], this.dataset["joinId"])',
      "type": "click"
    })
  }

  const conditionDeleteButtonList = document.getElementsByClassName("condition-delete")
  for (var i = 0; i < conditionDeleteButtonList.length; i++) {
    joinListenerMap.set(conditionDeleteButtonList[i].id, {
      'function': 'deleteModelObject(this.dataset.deleteUrl, this.dataset.deleteElementId)',
      "type": "click"
    })
  }

  const conditionAddButtonList = document.getElementsByClassName("add-condition");
  for (var i = 0; i < conditionAddButtonList.length; i++) {
    joinListenerMap.set(conditionAddButtonList[i].id, {
      'function': 'prepareConditionModal(this.dataset["jobId"], this.dataset["taskId"], this.dataset["joinId"], this.dataset["targetId"])',
      "type": "click"
    })
  }

  joinListenerMap.set("id_add_join", {
    'function': 'prepareJoinModal(this.dataset["jobId"], this.dataset["taskId"], null)',
    'type': 'click'
  })
  
  joinListenerMap.forEach(addListener);
  </script>