{% extends 'core_base.html' %}
{% block title %}Change Task{% endblock %}
{% block core-content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Task</h2>
    <p class="lead">View or change your task details.</p>
  </div>
  <form method="post" action="{% url 'job-task-add' job_id=job.id %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-8 col-lg-9">
        <div class="row g-3">
          <div class="lead">Task Details</div>
          {% if task_id != None %} 
            <input id="id_id" name="id" value="{{ task_id }}" hidden />
          {% else %}
            <input id="id_empty_id" name="id" hidden />
          {% endif %}
          <input id="id_job_id" name="job_id" value="{{job.id}}" hidden />
          <div class="col-6">
            <div class="form-floating">
              {{form.name}}
              {{form.name.label_tag}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              {{form.type}}
              {{form.type.label_tag}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-floating">
              {{form.description}}
              {{form.description.label_tag}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-floating">
              {{form.properties}}
              {{form.properties.label_tag}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          {% if task_id != None %}
            <a class="w-100 btn btn-secondary"  href="{% url 'job-task' job_id=job.id pk=task_id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
          {% else %}
            <a class="w-100 btn btn-secondary" href="{% url 'job-tasks' job_id=job.id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
          {% endif %}
        </div>
      </div>
      <div class="row g-3 py-1">
        <div class="lead">Target Table</div>
        <div class="col-sm-6">
          <div class="form-floating">
            {{form.table_type}}
            {{form.table_type.label_tag}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            {{form.write_disposition}}
            {{form.write_disposition.label_tag}}
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" id="id_destination_table_tree" type="button"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              {{form.destination_table}}
              {{form.destination_table.label_tag}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" id="id_destination_dataset_tree" type="button"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              {{form.destination_dataset}}
              {{form.destination_dataset.label_tag}}
            </div>
          </div>
        </div>
        <div class="lead">Source Table</div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" id="id_driving_table_tree" type="button"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              {{form.driving_table}}
              {{form.driving_table.label_tag}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" id="id_staging_dataset_tree" type="button"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              {{form.staging_dataset}}
              {{form.staging_dataset.label_tag}}
            </div>
          </div>
        </div>
      </div> 
    </div>  
    
  </form>
  
  {{ connections }}  
  <script src="/static/js/lazy-listener.js" ></script>
  <script>
    let ta = document.getElementById("id_properties");
    let numberOfLineBreaks = (ta.value.match(/\n/g) || []).length;
    let newHeight = 50 + numberOfLineBreaks * 20 + 12 + 2;
    ta.style.height = newHeight + "px";

    new Map([
      ["id_staging_dataset_tree", {"function": "setReturnType('dataset', null, null, null, null, '{{form.staging_dataset.id_for_label}}', null, true)", "type": "click"}],
      ["id_driving_table_tree", {"function": "setReturnType('table', null, null, '{{form.driving_table.id_for_label}}', 'tableFull', null, null, true)", "type": "click"}],
      ["id_destination_dataset_tree", {"function": "setReturnType('dataset', null, null, null, null, '{{form.destination_dataset.id_for_label}}', null, true)", "type": "click"}],
      ["id_destination_table_tree", {"function": "setReturnType('table', null, null, '{{form.destination_table.id_for_label}}', 'tableName', '{{form.destination_dataset.id_for_label}}', null, true)", "type": "click"}],
    ]).forEach(addListener);
  </script>
  {% include 'core/connection_selector.html' %}
</div>
{% endblock %}
