
  <div class="accordion-item">
    <div class="accordion-header" id="heading-source-to-target">
      <button class="lead accordion-button open" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-source-to-target" aria-expanded="false" aria-controls="collapse-source-to-target">
        Source to Target
      </button>
    </div>
    <div id="collapse-source-to-target" class="accordion-collapse collapse" aria-labelledby="heading-source-to-target" >
      <div class="row g-3 py-3">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Target Column</th>
              <th scope="col">Source Column</th>
              <th scope="col">Transformation</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for field in fields %}
              <tr class="align-middle">
                <td>{% if field.is_primary_key %}<i class="bi bi-key"></i> {% endif %}{% if field.is_history_key %}<i class="bi bi-clock-history"></i> {% endif %}{{ field.name}} </td>
                <td>{% if field.source_name != "" %}<span>{{ field.source_name }}.</span><strong>{{ field.source_column }}</strong>{% else %}{{ field.source_column }}{% endif %}</td>
                <td>{{ field.transformation }}</td>
                <td><a href="{% url 'job-task-field' job_id=job.id task_id=task.id pk=field.id %}" class="btn  btn-secondary"><i class="bi bi-search"></i> View</a></td>
                <td><a href="{% url 'job-task-field-delete' job_id=job.id task_id=task.id pk=field.id %}" class="btn  btn-danger"><i class="bi bi-trash3"></i> Delete</a></td>
              </tr>
            {% endfor %}
            {% if fields|length == 0 %}
              <tr><td class="text-center" colspan="5">No fields linked to task!</td></tr>
            {% endif %}
          </tbody>
        </table>
        <div class="col-md-5 col-lg-4">
          <a href="{% url 'job-task-field-add' job_id=job.id task_id=task.id %}" class="btn btn-primary " type="button"><i class="bi bi-plus"></i> Add Column</a> 
        </div>
      </div>
    </div>
  </div>  