{% extends 'base.html' %}
{% block title %}Task{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Task</h2>
    <p class="lead">View or change your task details.</p>
  </div>
  <div class="row g-5">
    <div class="col-md-8 col-lg-9">
      <div class="row g-3">
        <div class="lead">Task Details</div>
        <div class="col-6">
          <div class="form-floating">
            <input class="form-control" id="id_name" name="name" type="text" value="{{task.name}}" maxlength="255" required="" disabled />
            <label for="id_name">Task Name:</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input class="form-control" id="id_type" name="type" type="text" value="{{task.type}}" maxlength="255" required="" disabled />
            <label for="id_type">Type:</label>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-floating">
            <input class="form-control" id="id_description" name="description" type="text" value="{{task.description}}" maxlength="255" required="" disabled />
            <label for="id_description">Description:</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="row g-3">
        <a class="w-100 btn btn-secondary" type="submit" href="{% url 'job-task-update' job_id=job.id pk=task.id %}" title=""><i class="bi bi-pencil"></i> Edit Task</a>
      </div>
      <div class="row g-3 py-3">
        {% if dependency_id != None %}
          <a class="w-100 btn btn-outline-dark" type="submit" href="{% url 'job-task' job_id=job.id pk=task_id %}" title=""><i class="bi bi-arrow-left"></i> Back to Dependant Task</a>
        {% else %}
          <a class="w-100 btn btn-outline-dark" type="submit" href="{% url 'job-tasks' job_id=job.id %}" title=""><i class="bi bi-arrow-left"></i> Back to Job</a>
        {% endif %}
      </div>
    </div>
    <div class="col-12">
      <div class="row g-3 py-1">
        <div class="lead">Target Table</div>
        <div class="col-6">
          <div class="form-floating">
            <input class="form-control" id="id_table_type" name="table_type" type="text" value="{{task.table_type}}" maxlength="255" required="" disabled
            {% if form.table_type.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.table_type.help_text}}" {% endif %} />
            <label for="id_table_type">Target Table Type:</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input class="form-control" id="id_write_disposition" name="write_disposition" type="text" value="{{task.write_disposition}}" maxlength="255" required="" disabled
            {% if form.write_disposition.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.write_disposition.help_text}}" {% endif %} />
            <label for="id_write_disposition">Write Disposition:</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <input class="form-control" id="id_destination_table" name="destination_table" type="text" value="{{task.destination_table}}" maxlength="255" required="" disabled
            {% if form.destination_table.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.destination_table.help_text}}" {% endif %} />
            <label for="id_destination_table">Destination Table:</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input class="form-control" id="id_destination_dataset" name="destination_dataset" type="text" value="{{task.destination_dataset}}" maxlength="255" required="" disabled
            {% if form.destination_dataset.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.destination_dataset.help_text}}" {% endif %} />
            <label for="id_destination_dataset">Destination Dataset:</label>
          </div>
        </div>
        <div class="lead">Source Table</div>
        <div class="col-6">
          <div class="form-floating">
            <input class="form-control" id="id_driving_table" name="driving_table" type="text" value="{{task.driving_table}}" maxlength="255" required="" disabled
            {% if form.driving_table.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.driving_table.help_text}}" {% endif %} />
            <label for="id_driving_table">Driving Table:</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input class="form-control" id="id_staging_dataset" name="staging_dataset" type="text" value="{{task.staging_dataset}}" maxlength="255" required="" disabled 
            {% if form.staging_dataset.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.staging_dataset.help_text}}" {% endif %} />
            <label for="id_staging_dataset">Staging Dataset:</label>
          </div>
        </div>
      </div> 
    </div>
    <div class="accordion accordion-flush" id="accordian">
      {% include 'core/jobtask_source_to_target.html' %}
      {% include 'core/jobtask_joins.html' %}
      {% include 'core/jobtask_where.html' %}
      {% if task.table_type.code != 'TYPE1' %} {% include 'core/jobtask_history.html' %} {% endif %}
      {% include 'core/jobtask_delta.html' %}
      {% include 'core/jobtask_dependency.html' %}
    </div>
  </div>  
</div>
<script>
  let ta = document.getElementById("id_properties");
  let numberOfLineBreaks = (ta.value.match(/\n/g) || []).length;
  let newHeight = 50 + numberOfLineBreaks * 20 + 12 + 2;
  ta.style.height = newHeight + "px";
</script>

{% include 'core/connection_selector.html' %}
{% endblock %}

