<div class="accordion-item">
  <div class="accordion-header" id="heading-source-to-target">
    <button class="lead accordion-button open" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapse-source-to-target" aria-expanded="false" aria-controls="collapse-source-to-target">
      Source to Target
    </button>
  </div>
  <div class="accordion-collapse collapse show" id="collapse-source-to-target"
    aria-labelledby="heading-source-to-target">
    <div class="row g-3 py-3">
      <table class="table table-hover draggable" id="id_source_to_target_table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Target Column</th>
            <th scope="col">Data Type</th>
            <th scope="col">Source Column</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="id_source_to_target">
          {% for field in fields %}
          <tr class="align-middle" id="id_field_{{field.id}}_row" draggable="true" ondragstart="start()" ondragover="dragover()" ondragend="positionChange(this, 'field')" data-field-id="{{ field.id }}" data-position="{{ field.position }}" data-task-id="{{ task.id }}">
            <td class="vertical-grip-col"><i class="bi bi-grip-vertical"></i></td>
            <td class="vertical-grip-col">
              {% if field.is_primary_key == True %}<i class="bi bi-key" title="Key field" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="top"></i>{% endif %}
            </td>
            <td class="vertical-grip-col">
              {% if field.is_history_key %}<i class="bi bi-clock-history" title="History partition" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="top"></i>{% endif %}
            </td>
            <td class="vertical-grip-col">
              {% if field.is_nullable == False %}<i class="bi bi-asterisk" title="Required field" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="top"></i>{% endif %}
            </td>
            <td class="vertical-grip-col">
              {% if field.transformation != None and field.transformation != '' %}<i class="fa-solid fa-shuffle" title="Contains transformation" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="top"></i>{% endif %}
            </td>
            <td>
              {{ field.name}} 
            </td>
            <td>{{ field.data_type }}</td>
            <td>
              <span title="{{ field.source_table.dataset_name }}.{{ field.source_table.table_name }}" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="top">{{ field.source_table.alias }}.</span><strong>{{ field.source_column }}</strong>
            </td>
            <td class="btn-column"><button class="btn btn-secondary field-view" id="id_field_{{ field.id }}_view" 
              type="button" title="View" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"
              data-action="viewColumn" data-field-id="{{ field.id }}" data-target="id_source_to_target"
              data-job-id="{{ job.id }}" data-task-id="{{ task.id }}" data-delete-element-id="id_field_{{field.id}}_row">
              <i class="bi bi-search"></i></button></td>
            <td class="btn-column"><button class="btn btn-danger field-delete" id="id_field_delete_{{field.id}}"
                type="button" title="Delete" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right"
                data-delete-url="{% url 'api-field-delete' pk=field.id %}"
                data-delete-element-id="id_field_{{field.id}}_row"><i class="bi bi-trash3"></i></button></td>
            <td class="vertical-grip-col"><i class="bi bi-grip-vertical"></i></td>
          </tr>
          {% endfor %}
          {% if fields|length == 0 %}
          <tr class="placeholder-row">
            <td class="text-center" colspan="11">No fields linked to task!</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <button class="w-100 btn btn-primary" id="id_add_column_button" type="button"><i class="bi bi-plus"></i> Add Column</button>
        </div>
        <div class="col-md-2 col-lg-2">
          <button class="w-100 btn btn-info" id="id_copy_table" type="button" data-task-id="{{ task.id }}"><i class="fa-solid fa-copy"></i> Copy
            Table</button>
          <input id="id_field_source_table_name" hidden />
          <input id="id_field_source_dataset" hidden />
          <input id="id_field_source_connection" hidden />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let listenerMap = new Map([
    ["id_copy_table", {
      "function": "setReturnType('table', null, null, null, 'id_field_source_table_name', 'tableName', 'id_field_source_dataset', 'id_field_source_connection', true, {{ task.id }}); document.getElementById('id_field_source_connection').dataset['taskId'] = this.dataset['taskId'];",
      "type": "click"
    }],
    ["id_field_source_connection", {
      "function": "submitCopyTable(this.dataset['taskId'])",
      "type": "input"
    }],
    ["id_add_column_button", {
      "function": "prepareFieldModal('createColumn', undefined, 'id_source_to_target', undefined, {{ job.id }}, {{ task.id }})",
      "type": "click"
    }]
  ])

  const fieldViewButtonList = document.getElementsByClassName("field-view");
  for (var i = 0; i < fieldViewButtonList.length; i++) {
    listenerMap.set(fieldViewButtonList[i].id, {
      "function": "prepareFieldModal(this.dataset['action'], this.dataset['fieldId'], this.dataset['target'], this.dataset['deleteElementId'], this.dataset['jobId'], this.dataset['taskId']);",
      "type": "click"
    })
  }

  const fieldDeleteButtonList = document.getElementsByClassName("field-delete");
  for (var i = 0; i < fieldDeleteButtonList.length; i++) {
    listenerMap.set(fieldDeleteButtonList[i].id, {
      "function": "deleteModelObject(this.dataset['deleteUrl'], this.dataset['deleteElementId']);",
      "type": "click"
    })
  }

  listenerMap.forEach(addListener);

</script>
<script src="/static/js/table-dragover.js" ></script>
