{% extends 'core_base.html' %}
{% block title %}Change Task{% endblock %}
{% block core-content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Task</h2>
    <p class="lead">View or change your task details.</p>
    <div class="container">
      {% if form.errors %}
        {% for err in form.get_invalid_login_error %}
          <div class="alert alert-danger" role="alert">
            {{err}}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <form method="post" action="{% url 'job-task-add' job_id=job.id %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="lead">Task Details</div>
          <input hidden value="{{form.id.value}}" name="id" id="id_id">
          <input hidden value="{{job.id}}" name="job_id" id="id_job_id">
          <div class="col-6">
            <div class="form-floating">
              <input type="text" class="form-control" name="name" maxlength="255" required="" id="{{form.name.id_for_label}}" 
              {% if form.name.value != None %} value="{{form.name.value}}" {% endif %}>
              {{form.name.label_tag}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              {{form.type}}
              {{form.type.label_tag}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-floating">
              <input type="text" class="form-control" name="description" maxlength="255" required="" id="{{form.description.id_for_label}}" 
              {% if form.description.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.properties.help_text}}" {% endif %}
              {% if form.description.value != None %} value="{{form.description.value}}" {% endif %}>
              {{form.description.label_tag}}
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-floating">
              <textarea  class="form-control" name="properties" maxlength="255" id="{{form.properties.id_for_label}}" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.properties.help_text}}"
              {% if form.properties.value != None and form.properties.value != "null" %} value="{{form.properties.value}}" {% endif %}></textarea>
              {{form.properties.label_tag}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="row g-3">
          <button class="w-100 btn btn-lg btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          <a {% if task_id != None %}  href="{% url 'job-task' job_id=job.id pk=task_id %}" {% else %} href="{% url 'job-tasks' pk=job.id %}" {% endif %} class="w-100 btn btn-lg btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>
        </div>
      </div>
      <div class="row g-3 py-1">
        <div class="lead">Target Table</div>
        <div class="col-sm-6">
          <div class="form-floating">
            {{form.table_type}}
            {{form.table_type.label_tag}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            {{form.write_disposition}}
            {{form.write_disposition.label_tag}}
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <input type="text" class="form-control" name="destination_table" maxlength="255" required="" id="{{form.destination_table.id_for_label}}" 
            {% if form.destination_table.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.destination_table.help_text}}" {% endif %}
            {% if form.destination_table.value != None %} value="{{form.destination_table.value}}" {% endif %}>
            {{form.destination_table.label_tag}}
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" type="button" id="id_destination_dataset_tree"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" name="destination_dataset" maxlength="255" required="" id="{{form.destination_dataset.id_for_label}}" 
              {% if form.destination_dataset.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.destination_dataset.help_text}}" {% endif %}
              {% if form.destination_dataset.value != None %} value="{{form.destination_dataset.value}}" {% endif %}>
              {{form.destination_dataset.label_tag}}
            </div>
          </div>
        </div>
        <div class="lead">Source Table</div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" type="button" id="id_driving_table_tree"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" name="driving_table" maxlength="255" required="" id="{{form.driving_table.id_for_label}}" 
              {% if form.driving_table.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.driving_table.help_text}}" {% endif %}
              {% if form.driving_table.value != None %} value="{{form.driving_table.value}}" {% endif %}>
              {{form.driving_table.label_tag}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group mb-3">
            <button class="input-group-text" type="button" id="id_staging_dataset_tree"><i class="fa-solid fa-folder-tree"></i></button>
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" name="staging_dataset" maxlength="255" required="" id="{{form.staging_dataset.id_for_label}}" 
              {% if form.destination_dataset.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{form.destination_dataset.help_text}}" {% endif %}
              {% if form.destination_dataset.value != None %} value="{{form.staging_dataset.value}}" {% endif %}>
              {{form.staging_dataset.label_tag}}
            </div>
          </div>
        </div>
      </div> 
    </div>  
    
  </form>
  <script>
    const el = document.getElementsByTagName("select");
    for (var i = 0; i < el.length; i++) {
      el[i].classList.add("form-select");
    }
    
    
  </script>
</div>
{% endblock %}
