{% extends 'base.html' %}
{% block title %}Change Join{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Join</h2>
    <p class="lead">Add or change your column.</p>
  </div>
  <form id="id_form" method="post" action="{% url 'job-task-join-add' job_id=job.id task_id=task.id %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <input hidden {% if join_id != None %} value="{{ join_id }}" {% endif %} name="id" id="id_id">
        <input hidden value="return" name="action" id="id_action">
        <div class="row g-3">
          <div class="lead">Join Details</div>
          <div class="col-sm-6">
            <div class="form-floating">
              {{form.type}}
              {{form.type.label_tag}}
            </div>
          </div>
        </div>
        <div class="row g-3 py-3">
          <div class="col-6">
            <div class="input-group mb-3">
              <button class="input-group-text" type="button" id="id_destination_dataset_tree" onclick="setReturnType('table', null, null, '{{ form.left.id_for_label }}', 'tableFull', null, false)"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" name="left" maxlength="255" id="{{ form.left.id_for_label }}" 
                {% if form.source_column.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{ form.left.help_text }}" {% endif %}
                {% if form.left.value != None %} value="{{ form.left.value }}" {% endif %}>
                {{ form.left.label_tag }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <button class="input-group-text" type="button" id="id_destination_dataset_tree" onclick="setReturnType('table', null, null, '{{ form.right.id_for_label }}', 'tableFull', null, false)"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                <input type="text" class="form-control" name="right" maxlength="255" required="" id="{{ form.right.id_for_label }}" 
                {% if form.source_column.help_text != "" %}  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-animation="true" data-bs-content="{{ form.right.help_text }}" {% endif %}
                {% if form.right.value != None %} value="{{ form.right.value }}" {% endif %}>
                {{ form.right.label_tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          <a {% if field_id != None %} href="{% url 'job-task-field' job_id=job.id task_id=task.id pk=field_id %}" {% else %} href="{% url 'job-task' job_id=job.id pk=task.id %}" {% endif %} class="w-100 btn  btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>
        </div>
      </div>
    </div>  
    
  </form>
  <script>
    document.getElementById("{{form.type.id_for_label}}").classList.add("form-select");
  </script>
  {% include 'core/connection_selector.html' %}
</div>
{% endblock %}
