{% extends 'base.html' %}
{% block title %}Change Join{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="py-5 text-center">
    <h2>Join</h2>
    <p class="lead">Add or change your column.</p>
  </div>
  <form id="id_form" method="post" action="{% url 'job-task-join-add' job_id=job.id task_id=task.id %}">
    {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        {% if join_id != None %} 
          <input id="id_id" name="id" value="{{ join_id }}" hidden />
        {% else %}
          <input id="id_empty_id" name="id" hidden />
        {% endif %}
        <div class="row g-3">
          <div class="lead">Join Details</div>
          <div class="col-sm-6">
            <div class="form-floating">
              {{form.type}}
              {{form.type.label_tag}}
            </div>
          </div>
        </div>
        <div class="row g-3 py-3">
          <div class="col-6">
            <div class="input-group mb-3">
              <button class="input-group-text" id="id_left_dataset_tree" type="button" onclick="setReturnType('table', null, null, null, '{{ form.left.id_for_label }}_empty', 'tableFull', null, null, false)"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                {% if form.left.value != None %}
                <input class="form-control" id="{{ form.left.id_for_label }}" name="left" type="text" value="{{ form.left.value }}" maxlength="255" />
                {% else %}
                <input class="form-control" id="{{ form.left.id_for_label }}_empty" name="left" type="text" maxlength="255" />
                 {% endif %} 
                {{ form.left.label_tag }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <button class="input-group-text" id="id_right_dataset_tree" type="button" onclick="setReturnType('table', null, null, null, '{{ form.right.id_for_label }}_empty', 'tableFull', null, null, false)"><i class="fa-solid fa-folder-tree"></i></button>
              <div class="form-floating flex-grow-1">
                {% if form.right.value != None %}
                <input class="form-control" id="{{ form.right.id_for_label }}" name="right" type="text" value="{{ form.left.value }}" maxlength="255" />
                {% else %}
                <input class="form-control" id="{{ form.right.id_for_label }}_empty" name="right" type="text" maxlength="255" />
                 {% endif %} 
                {{ form.right.label_tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="row g-3">
          <button class="w-100 btn btn-primary" type="submit"><i class="bi bi-check-lg"></i> Save</button>
        </div>
        <div class="row g-3 py-3">
          {% if field_id != None %}
           <a class="w-100 btn btn-secondary" href="{% url 'job-task-field' job_id=job.id task_id=task.id pk=field_id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
          {% else %}
            <a class="w-100 btn btn-secondary" href="{% url 'job-task' job_id=job.id pk=task.id %}" title=""><i class="bi bi-x-lg"></i> Cancel</a>
          {% endif %}
        </div>
      </div>
    </div>  
    
  </form>
  {% include 'core/connection_selector.html' %}
</div>
{% endblock %}
